/* @layer base {
  :root {
    --color-pixel: #ECA749;
    --color-pixel-light: #EEEEEE;
    --color-pixel-dark: #090909;
  }
  
   @font-face {
    font-family: 'Departure Mono';
    src: url('/fonts/DepartureMono.woff2') format('woff2'),
         url('/fonts/DepartureMono.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
} */