@import 'tailwindcss';
@theme{
    --color-pixel: #ECA749;
    --color-pixel-light: #EEEEEE;
    --color-pixel-dark: #090909;

    --font-pixel: 'Departure Mono', monospace;
    --default-font-family: var(--font-pixel);
}


@layer base {
   @font-face {
    font-family: 'Departure Mono';
    src: url('/fonts/DepartureMono-Regular.woff2') format('woff2'),
         url('/fonts/DepartureMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
}